:root {
    --gl-color: #20C997;
}


.frame {
    background: linear-gradient(160.36deg, var(--gl-color) -50%, rgba(0, 0, 0, 0) 30%), #252525;
    margin: 0 auto;
}

img {
    width: 70%;
    border-radius: 50%;
}

.img-wrap {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    position: absolute;
    animation: 5s linear round infinite;
    box-shadow: 10px 5px 25px var(--gl-color);
}
.modal-title{
    color: black;
}


@keyframes round {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    padding: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.drop {
    margin-top: 30px;
}

.Name {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.color_select {
    display: flex;
    flex-direction: row;
    flex-grow: initial;
    gap: 10px;
}

.btn > div {
    width: 30px;
    height: 30px;
    background-color: var(--color);
    border-radius: 25%;
}

.select_btn {
    border-radius: 10px;
}

.selected-color {
    border: solid black 2px;

}

.btn-outline-primary {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gl-color);
    border-color: var(--gl-color);
    width: 40px;
    height: 40px;
}

.btn:first-child:hover, :not(.btn-check) + .btn:hover {
    background-color: var(--gl-color);
    border-color: var(--gl-color);
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--gl-color);
    border-color: var(--gl-color);
}

.btn-outline-primary:hover > svg > g > path {
    fill: #252525;

}

.title-wrapper {
    padding-top: 30px;
}


.left {
    order: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.about, .goals {
    margin: 10px;
    width: calc(90% - 40px);
    padding: 20px;
}

.right {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #101010;
}

.right > div {
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    flex-grow: 1;
    background: linear-gradient(160.36deg, var(--gl-color) -50%, rgba(0, 0, 0, 0) 50%), #252525;
    border-radius: 10px;
    min-height: 170px;
    width: calc(90% - 60px);
    box-shadow: 5px 5px 15px var(--gl-color);
}


.line {
    width: 100%;
    background: var(--gl-color);
    height: 2px;
}

h1, h2, h3, h4, h5, li {
    color: #DCDCDCFF;
}

ul {
    margin: 0;
}

.about, .goals {
    border-radius: 10px;
    border: solid 2px var(--gl-color);
    flex-grow: 3;
    box-shadow: 5px 5px 15px var(--gl-color);
}

li::marker {
    color: var(--gl-color);
}

.skills {
    background: linear-gradient(160.36deg, var(--gl-color) -50%, rgba(0, 0, 0, 0) 50%), #252525;
}

.ul-skills {
    width: 50%;
    height: 100%;
}


.ul-wrap {
    display: flex;
    flex-direction: row;
}

svg {
    width: 30px;
    height: 30px;
}

a {
    display: flex;
    flex-direction: row;
    height: 30px;
    gap: 10px;
    justify-content: center;
    color: #DCDCDCFF;
    text-decoration: none;
}


p {
    height: 100%;
    vertical-align: middle;
    margin-top: 6px;
}

tr {
    padding: 20px;
}

td {
    display: flex;
    gap: 10px;
}

table {
    margin-top: 10px;
    align-items: center;
}

.contacts {
    width: calc(100% - 40px);
    flex-grow: 1;
    padding: 0 20px 20px;
}

@media screen and (min-height: 800px) {
    .frame {

        margin-top: calc(50vh - 400px);
    }
}

@media screen and (min-width: 700px) {
    .avatar {
        aspect-ratio: 1 / 1;
    }

    .right {
        width: 60%;
        height: 100%;
        border-radius: 10px 0 10px 0;
    }

    .left {
        width: 40%;
    }

    .frame {
        width: 700px;
        height: 800px;

    }


    .head {
        width: 100%;
        max-height: 30%;
        height: 30%;
        display: flex;
        flex-direction: row;
    }


    .feet-wrapper {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: row;
    }


}

@media screen and (max-width: 700px) {
    .title-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .frame {
        width: 100%;

    }

    .avatar {
        height: 50%;

    }


}